@using Microsoft.AspNetCore.Authorization

@section Styles{
    <link rel="stylesheet" href="~/css/user.css">
}

@section Scripts{
    <script src="~/js/landinPageScript.js"></script>
    <script src="~/js/ShopingCart.js"></script>
}

<section class="perfilSection">
    <aside class="sideBar">
        <div class="userContainer">
            <div class="userContainer_imgHandler">
                <img class="imgHandler_img">
            </div>
            <label>@User.Identity.Name</label>
        </div>
        <div>
            <label>Mi perfil</label>
            <label>Configuracion</label>
        </div>
    </aside>

    <section class="userDashboard">
        <div class="userDashboard_shoppingCart">
            <div class="shoppingCart_header">
                <h1 class="header_tittle">Mi carrito de compras</h1>
                <h2 class="header_totalAmount">Total a Pagar: S/70.00</h2>
            </div>
            <div class="shoppingCart_cart"></div>
        </div>
        <div class="userDashboard_orders">
            <h1>Mis Pedidos</h1>
            <div class="orders_ordersHandler">
                <h2>No tiene pedidos registrados</h2>
            </div>
            
        </div>
    </section>
</section>