@model IEnumerable<restaurant.Models.Producto>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/mainPage.css">
}

<section class="AdminMainContainer_dashboard">
    <section class="dashboard_infoHandler">
        <div class="info_Handler_ordersPending">
            <label>Ordenes pendientes</label>
            <label>5</label>
        </div>
        <div class="info_Handler_ordersShiped">
            <label>Ordenes enviadas</label>
            <label>50</label>
        </div>
        <div class="info_Handler_ordersTotalPrice">
            <label>Ganancia total de las ordenes</label>
            <label>S/50 000</label>
        </div>
    </section>

    <section class="dashboard_logs">
        <table>
            <thead>
                <th>Log Id</th>
                <th>Log Message</th>
                <th>Log Date</th>
            </thead>
            <tbody>
                <td>1</td>
                <td>Administrador Josue123 añadio un nuevo producto</td>
                <td>07/07/2023</td>
            </tbody>
        </table>
    </section>

</section>


