@model IEnumerable<restaurant.Models.Producto>

@{
    ViewData["Title"] = "Home Page";
    var model = @Model.ToArray();
    int lenght = model.Length;
}
@section Styles {
    <link rel="stylesheet" href="~/css/mainPage.css">
}

@section Scripts{
    <script src="~/js/landinPageScript.js"></script>
}
<div class="blobContainer">
    <img src="~/img/blobIcon.svg">
</div>
<section class="InformationSection">
    <div class="InformationSection_dataModules">
        <div class="dataModules_informationArea">
            
            <h1>La comida de los reyes a un solo click de distancia</h1>
            <h2>Descubre el sabor regio y autentico de nuestra cocina. ¡Bienvenido a La Mesa Real!</h2>
            <a>Empezar ya</a>      
        </div>
    </div>
    <div class="InformationSection_ImageContainer">
        <img class="ImageContainer_img" src="~/img/heroDishes.png">
    </div>
</section>


<section class="ProductSection">
    @if(lenght > 0){
        <h2 class="ProductSection_h2">CONTAMOS CON MÁS DE @lenght PLATILLOS </h2>
    }
    <form class="ProductSectionHeader" method="post" asp-action="IndexUsuario" asp-controller="Usuario">
        <div class="CategoryHandler">
            <div id='category_0'  class="CategoryHandler_categoryItem">
                <label>ALL</label> 
            </div>
            <div id='category_1' class="CategoryHandler_categoryItem">
                <label>PASTA</label>
            </div>
            <div id='category_2'  class="CategoryHandler_categoryItem">
                <label>CARNE</label>
            </div>
            <div id='category_3'  class="CategoryHandler_categoryItem">
                <label>MARISCOS</label>
            </div>
            <div id='category_4'  class="CategoryHandler_categoryItem">
                <label>VERDURAS</label>
            </div>
            <div id='category_5'  class="CategoryHandler_categoryItem">
                <label>CERDO</label>
            </div>
        </div>
        <select id="categorySelect" name="categoria">
            <option value="1">Pasta</option>
            <option value="2">Carne</option>
            <option value="3">Mariscos</option>
            <option value="4">Verduras</option>
            <option value="5">Cerdo</option>
        </select>
        <div class="ProductSectionHeader_form">
            <input class="CategoryHandler_input"  name="nombrePlatillo" type="text" placeholder="ej. Costillas de Cerdo">
            <button class="form_btn" type="submit"/><img src="~/img/searchIcon.svg"/></button>
        </div>

    </form>

    <section class="productCardHandler">

        @if(Model.Count() > 0){
            @foreach (var productos in Model)
            {
                <div class="productCard scale-up-center">
                    <div class="productCar_imgContainer">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(@productos.imgSubidaByte)"/>
                    </div>
                    <div class="productCard_price">
                        <label class="price_text">S/@productos.precio_producto</label>
                    </div>
                    <div class="productCard_information">
                        <label>@productos.nombre_producto</label>
                        <a class="productCard_buyButton"><img src="~/img/BuyButton.svg"/></a>
                    </div>
                </div>
            }
        }else{
            <div>
                <h1>No hay platillos disponibles</h1>
            </div>
        }

    </section>
</section>