@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.info_Handler{
    display: flex;
    flex-flow: column;
    margin: 20px auto;
    justify-items: center;
    justify-content: center;
}

.dashboard_infoHandler{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 20px;
}

.AdminMainContainer_dashboard{
    width: 100%;
}

.AdminMainContainer{
    display: flex;
    gap: 10px;
}

.dashboard_logs{
    width: 100%;
}

.info_HandlerModules{
    display: flex;
    min-width: 250px;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: #ff8c04b3;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
  }
  
.info_HandlerModules img{
    width: 20vw;
    min-width: 100px;
    max-width: 120px;
}

.info_Handler{
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 5px;
}

.handler_data{
    font-size: 1.8em;
    text-align: center;
}

.scale-up-vertical-center{
    animation:scale-up-vertical-center 0.7s
} 

@keyframes scale-up-vertical-center{

    0%{
        transform:scaleY(.2)
    }

    100%{
        transform:scaleY(1)
    }

}


.scale-up-bottom{
    animation:scale-up-bottom 0.6s; 
}

@keyframes scale-up-bottom{

    0%{transform:scale(.5);
        transform-origin:center bottom
    }

    100%{
        transform:scale(1);
        transform-origin:center bottom
    }
}

.optionsHandler_option{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
}

.optionsHandler_option a{
    user-select: none;
    text-decoration: none;
    color: inherit;
}

.optionsHandler_option:hover {
    background-color: orange;
    color: white;
    box-shadow: 3px 2px 6px rgba(0,0,0,0.25) ;
}

.sectionAñadirProductos{
    width: 80%;
    margin: 50px auto;
}

.formPlatillo{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.form_Platillo_infoContainer{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 100%;
}

.formPlatillo_inputHandler{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.formPlatillo_inputHandler input{
    padding: 10px 15px;
    border: 3px solid #ff8c04b3;
    border-radius: 5px;
}

.formPlatillo_inputHandler select{
    padding: 10px 15px;
    border: 3px solid #ff8c04b3;
    border-radius: 5px;
}

.formPlatillo_inputHandler textarea{
    padding: 10px 15px;
    border: 3px solid #ff8c04b3;
    border-radius: 5px;
}

.formPlatillo_btn{
    background-color: #ff8c04b3;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#fileInput{
    display: none;
}

.dropzoneContainer{
    padding: 20px;
    border: 2px dashed #ccc;
    height: 250px;
    display: flex;
    align-items: center;

}

.dropzoneContainer_message{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.dropzoneContainer img{
    width: 100%;
    height: 100%;
    display: none;
}

.dropzoneContainer.dragover{
    border-color:#ff8c04b3;
}


/* AdminListarProductos */

.DishesSection{
    width: 90%;
    margin: 50px auto;
    padding: 0px 20px;
}

.DishesSection_form{

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.form_searchInput{
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #FF8C04;
    border-radius: 5px 0px 0px 5px;
}

.form_searchInput button{
    background-color: orange;
    padding: 5px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.form_categorySelect{
    border: 2px solid #FF8C04;
    border-radius: 10px;
    padding: 10px;
}

.infoDishes_nombre{
    font-size: 1.4em;
}

.infoDishes_precio{
    font-weight: 700;
    font-size: 1.2em;
    color: #FF8C04;
}

.DishesSection_DishesHandler{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 30px;

}

.DishesHandler_dishesCard{
    width: 250px;
    /*background-color: #FF8C04;*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
    border: 3px dotted #FF8C04;
}

.dishesCard_img{
    max-height: 142px;
    border-radius: 10px 10px 0px 0px;
}


.scale-up-center{
    animation:scale-up-center 0.5s; 
  } 
  
  @keyframes scale-up-center{
    0%{
      transform:scale(.5)
    } 
    100%{
      transform:scale(1)
    } 
  }
  

.dishesCard_infoContainer{
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.infoContainer_infoDishes{
    display: flex;
    flex-flow: column;
}

.infoContainer_infoDishes label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infoContainer_optionDishes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    gap: 5px;
    
}

.infoContainer_optionDishes a{
    padding: 5px 10px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    background-color: #FF8C04;
    box-shadow: 1px 4px 3px rgba(0,0,0,0.25);
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: inherit;
}

.optionDishes_delete{

}

.addDishesHandler{
    background-color: #FF8C04;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.addDishesHandler a{
    color: white;
    text-decoration: none;
}

.infoContainer_optionDishes a:hover{
    background-color: transparent;
    border: 2px #FF8C04 solid;
    color: #FF8C04;
    font-weight: 600;
}

.form_searchHandler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_searchHandler button{
    padding: 5px;
    background-color: #FF8C04;
    border-radius: 0px 5px 5px 0px;
    border:none;
}

.navBarAdminComponent{
    background-color: #FF8C04;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.25);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;

  }

table{
    margin: 10px auto;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 80%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}

thead{
    background-color: rgb(255, 206, 116);
    text-align: center;
}

tr{
    border-bottom: 1px solid orange;
    /*padding: 5px;*/
    text-align: center;
}

td{
    padding: 10px;
}
/*
.UserSection{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.UserSection_imgHandler{
    background-color: white;
    border-radius: 50px;
    display: flex;
}

.options_userActions{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    width: 40vw;
    max-width: 250px;
    border: 1px solid red;
    position: absolute;
    transform: translate(-90%);
    display: flex;
    flex-flow: column;
}*/

.sideBarButton_iconHandler{
    background-color: #FF8C40;
    height: min-content;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-flow: column;
    box-sizing: border-box;
}

.sideBarButton{
    display: flex;
    align-items: center;
    flex-flow: column-reverse;
    min-width: 85px;
    height: min-content;
    position: sticky;
    top: 113px;
    z-index: 1;
    background-color: white;
}

.hidden{
    display: none;
}


@media(max-width:1000px){
    .DishesSection_form{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
}


@media(max-width:650px){
    .sideBarButton{
        display: flex;
        align-items: center;
        flex-flow: column-reverse;
        min-width: 85px;
    }

    .AdminMainContainer{
      flex-flow: column;
    }
    
    .sideBarMenu_content{
        flex-flow: row;
        padding: 3%;
        flex-wrap: wrap;
    }

    .formPlatillo{
        flex-flow: column;
    }

  }