@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 14px;
}

a{
  text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  margin-bottom: 60px;
  display: flex;
  flex-flow: column;
}

header{
  position: sticky;
  top: 0px;
  z-index: 2;
}



.cellNavBar{
  background-color: #FF8C04;
  display: none;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.25);
}


.navBarComponent{
  background-color: #FF8C04;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.25);
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linksHandler_pageModules{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

/*.pageModules_authItems{
  display: inline-flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  color: #FF8C04;
  max-height: 50px;
  justify-content: center;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
}


.pageModules_authItems:hover{
  background-color: transparent;
  color: white;
}*/
.pageModules_authItems a{
  color: inherit;
}

.pageModules_authItems {
  --color: #FF8C04;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  background-color: white;
  font-weight: 500;
  color: #000;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
}

.pageModules_authItems:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.pageModules_authItems:hover {
  color: #fff;
}

.pageModules_authItems:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.pageModules_authItems:hover:before {
  top: -30px;
  left: -30px;
}

.pageModules_authItems:active:before {
  background: transparent;
  transition: background 0s;
}

.loginButton{
  background-color: transparent;
}

.loginButton a{
  color: white;
}

.navBarComponent_linksHandler{
  padding: 10px 0px;
  align-items: center;
  display: flex;
}

.sideBarMenu_option{
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #efefefa1;
  justify-content: center;
}

.sideBarMenu_content{
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
  justify-content: space-around;
}

.sideBarMenu{
  border: 1px solid orange;
  box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.25);
  height: min-content;
  width: 100%;
  box-sizing: border-box;
}

.hidden{
  display: none;
}


.optionsHandler{
  padding: 10px;
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.option_header{
  display: flex;
  justify-content: space-evenly;
  gap:10px;
  align-items: center;
  color: #FF8C04;
  font-weight: 600;
  user-select: none;
}

.option_header:hover{
  cursor: pointer;
  font-weight: 700;
}

.option_header label:hover{
  cursor: pointer;
}

.option_header img{
  width: 2em;
}

a img {
  margin: 0px 5px;
}

.UserSection{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.UserSection_imgHandler{
  background-color: white;
  border-radius: 50px;
  display: flex;
}

.options_userActions{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 40vw;
  max-width: 250px;
  border: 1px solid red;
  position: absolute;
  transform: translate(-90%);
  display: flex;
  flex-flow: column;
}

.pageModules_item{
  list-style-type: none;
}

.scale-up-center{
  animation:scale-up-center 0.5s; 
} 

.nav-item{
  list-style-type: none;
}

@keyframes scale-up-center{
  0%{
    transform:scale(.5)
  } 
  100%{
    transform:scale(1)
  } 
}


@media(max-width:700px){

  .pageModules_authItems{
    width: 120px;
  }

  .cellNavBar{
    display: flex;
  }

  .pageModules_item{
    display: none;
  }
  

}