@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  margin-bottom: 60px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

header{
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navBarComponent{
  background-color: #FF8C04;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.25);
  padding: 0px;
}

.linksHandler_pageModules{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.pageModules_authItems{
  display: inline-flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  color: #FF8C04;
  max-height: 50px;
  justify-content: center;
  text-align: center;
}

.navBarComponent_linksHandler{
  padding: 10px 0px;
}

.sideBarMenu_option{
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #efefefa1;
  justify-content: center;
}

.sideBarMenu_content{
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
  justify-content: space-around;
}

.sideBarMenu{
  border: 1px solid orange;
  box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.25);
  height: min-content;
  width: 100%;
  box-sizing: border-box;
}

.hidden{
  display: none;
}


.optionsHandler{
  padding: 10px;
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.option_header{
  display: flex;
  justify-content: space-evenly;
  gap:10px;
  align-items: center;
  color: #FF8C04;
  font-weight: 600;
  user-select: none;
}

.option_header:hover{
  cursor: pointer;
  font-weight: 700;
}

.option_header label:hover{
  cursor: pointer;
}

.option_header img{
  width: 2em;
}

a img {
  margin: 0px 5px;
}

.UserSection{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.UserSection_imgHandler{
  background-color: white;
  border-radius: 50px;
  display: flex;
}

.options_userActions{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 40vw;
  max-width: 250px;
  border: 1px solid red;
  position: absolute;
  transform: translate(-90%);
  display: flex;
  flex-flow: column;
}


.scale-up-center{
  animation:scale-up-center 0.5s; 
} 

@keyframes scale-up-center{
  0%{
    transform:scale(.5)
  } 
  100%{
    transform:scale(1)
  } 
}


@media(max-width:600px){

  .pageModules_authItems{
    width: 120px;
  }

}