<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/restaurant.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navBarAdminComponent">
            <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index"><img src="~/img/RestaurantLogo.png"/></a>
                <ul class="linksHandler_pageModules">
                    @if(!User.Identity.IsAuthenticated){
                        <li class="pageModules_authItems nav-item">
                            <a asp-controller="Autentificacion" asp-action="IniciarSesion">Iniciar Sesion</a>
                        </li>
                    }else{
                        <div id="test" class="UserSection">
                            <div class="UserSection_imgHandler">
                                <img class="imgHandler_avatarImage" src="~/img/userCircleIcon.svg"/>
                            </div>
                            <div class="UserSection_options hidden">
                                <div class="options_userActions">
                                    <label>@User.Identity.Name</label>
                                    <a asp-controller="Autentificacion" asp-action="logout">Cerrar Sesion</a>
                                </div>
                            </div>
                        </div>
                    }
                </ul>
        </nav>
    </header>



    <main role="main" class="AdminMainContainer">
        <div class="sideBarButton">
            <div class="sideBarButton_iconHandler" style="display: none;">
                <img src="~/img/OfertasIcon.svg"/>
            </div>
            <section id="sideBarMenu" class="sideBarMenu">
            <div class="sideBarMenu_content">
                <div class="sideBarMenu_option">
                    <a asp-controller="Admin" asp-action="ListarProductos" class="option_header producto_header">
                        <img class="svgEmbed" type="image/svg+xml" src="~/img/shoppingBag.svg"/>
                    </a>
                </div>

                <div class="sideBarMenu_option">
                    <div class="option_header repartidores_header">
                        <img class="svgEmbed" src="~/img/sideBarDeliveryIcon.svg"/>
                    </div>
                </div>

                <div class="sideBarMenu_option">
                    <div class="option_header Categorias_header">
                        <img class="svgEmbed" src="~/img/categoryIcon.svg"/>
                    </div>
                </div>

                <div class="sideBarMenu_option">
                    <div class="option_header pedidos_header">
                        <img class="svgEmbed" src="~/img/OrangeCartIcon.svg"/>
                    </div>
                </div>

                <div class="sideBarMenu_option">
                    <div class="option_header usuarios_header">
                        <img class="svgEmbed" src="~/img/userIcon.svg"/>
                    </div>
                </div>
            </div>
            </section>
        </div>
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - restaurant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>

    $(document).ready(()=>{
        /*$(".sideBarButton").on("click",()=>{
            $(".sideBarMenu").slideToggle();
            $(".sideBarMenu").removeClass("hidden")
        });*/

        $("#test").on("click",()=>{
            $(".UserSection_options").toggle();
            $(".UserSection_options").removeClass("hidden")
        });

            const optionHeader = $(".option_header");
            $(optionHeader).siblings().hide();

            $(optionHeader).on("click",()=>{
                $(event.currentTarget).siblings().slideToggle();
            })
    })


</script>



</html>